/*
 * -------------------------------------------------
 *  Nextflow config file for iGenomes paths
 * -------------------------------------------------
 * Defines reference genomes, using iGenome paths
 * Can be used by any config that customises the base
 * path using $params.igenomes_base / --igenomes_base
 */

params {
  // illumina iGenomes reference file paths on UPPMAX
  genomes {
    'GRCh38' {
      fasta   = "${params.gencode_base}/human/v29/GRCh38.p12.genome.fa.gz"
      gtf     = "${params.gencode_base}/human/v29/gencode.vM19.annotation.gtf.gz"
    }
    'GRCm38' {
      fasta   = "${params.gencode_base}/mouse/vM19/GRCm38.p6.genome.fa.gz"
      gtf     = "${params.gencode_base}/mouse/vM19/gencode.vM19.annotation.gtf.gz"
    }
  }
}
