/*
 * -------------------------------------------------
 *  Nextflow config file for iGenomes paths
 * -------------------------------------------------
 * Defines reference genomes, using iGenome paths
 * Can be used by any config that customises the base
 * path using $params.igenomes_base / --igenomes_base
 */

params {
  // illumina iGenomes reference file paths on UPPMAX
  genomes {
    'ChR2' {
      fasta   = "${params.transgenes_base}/ChR2/ChR2.fa.gz"
      gtf     = "${params.transgenes_base}/ChR2/ChR2.gtf.gz"
    }
    'Cre' {
      fasta   = "${params.transgenes_base}/Cre/Cre.fa.gz"
      gtf     = "${params.transgenes_base}/Cre/Cre.gtf.gz"
    }
    'ERCC' {
      fasta   = "${params.transgenes_base}/ERCC/ERCC92.fa.gz"
      gtf     = "${params.transgenes_base}/ERCC/ERCC92.gtf.gz"
    }
    'GCaMP6m' {
      fasta   = "${params.transgenes_base}/GCaMP6m/GCaMP6m.fa.gz"
      gtf     = "${params.transgenes_base}/GCaMP6m/GCaMP6m.gtf.gz"
    }
    'GFP' {
      fasta   = "${params.transgenes_base}/Gfp/Gfp.fa.gz"
      gtf     = "${params.transgenes_base}/Gfp/Gfp.gtf.gz"
    }
    'NpHR' {
      fasta   = "${params.transgenes_base}/NpHR/NpHR.fa.gz"
      gtf     = "${params.transgenes_base}/NpHR/NpHR.gtf.gz"
    }
    'RCaMP' {
      fasta   = "${params.transgenes_base}/RCaMP/RCaMP.fa.gz"
      gtf     = "${params.transgenes_base}/RCaMP/RCaMP.gtf.gz"
    }
    'RGECO' {
      fasta   = "${params.transgenes_base}/RGECO/RGECO.fa.gz"
      gtf     = "${params.transgenes_base}/RGECO/RGECO.gtf.gz"
    }
    'Tdtom' {
      fasta   = "${params.transgenes_base}/Tdtom/Tdtom.fa.gz"
      gtf     = "${params.transgenes_base}/Tdtom/Tdtom.gtf.gz"
    }
    'Car-T' {
      fasta   = "${params.transgenes_base}/car-t/car-t.fa.gz"
      gtf     = "${params.transgenes_base}/car-t/car-t.gtf.gz"
    }
    'zsGreen' {
      fasta   = "${params.transgenes_base}/zsGreen/zsGreen.fa.gz"
      gtf     = "${params.transgenes_base}/zsGreen/zsGreen.gtf.gz"
    }
  }
}
